@import url('https://fonts.googleapis.com/css2?family=LINE+Seed+JP:wght@100;400;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #E9F9EE;
  --color-d-green: #283328;
  --color-l-green: #92E3A9;
  --color-green: #4F894F;
  --color-el-green: #BEE3C9;

  --font-line: "LINE Seed JP", sans-serif;

  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

.normal-text {
  font-size: 16px;
}

.info-text {
  font-size: 12px;
}

.footer-text {
  font-size: 14px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 28px;
  }

  .normal-text {
    font-size: 20px;
  }

  .info-text {
    font-size: 16px;
  }

  .footer-text {
    font-size: 16px;
  }
}